@font-face {
       font-family: robotoThin ;
       src: url('../font/Roboto/Roboto-Thin.ttf');
}

@font-face {
       font-family: robotoRegular;
       src: url('../font/Roboto/Roboto-Black.ttf');
}
@font-face {
       font-family: robotoBold;
       src: url('../font/Roboto/Roboto-Bold.ttf');
}
@font-face {
       font-family: robotoItalic;
       src: url('../font/Roboto/Roboto-Italic.ttf');
}
@font-face {
       font-family: robotoBoldIatlic;
       src: url('../font/Roboto/Roboto-BoldItalic.ttf');
}
@font-face {
       font-family: robotoLight;
       src: url('../font/Roboto/Roboto-Light.ttf');
}
@font-face {
       font-family: robotoLightItalic;
       src: url('../font/Roboto/Roboto-LightItalic.ttf');
}
@font-face {
       font-family: robotoMedium;
       src: url('../font/Roboto/Roboto-Medium.ttf');
}
@font-face {
       font-family: robotoThin;
       src: url('../font/Roboto/Roboto-Thin.ttf');
}
@font-face {
       font-family: robotoBlackItalic;
       src: url('../font/Roboto/Roboto-BlackItalic.ttf');
}