/* Path */
@import url('../css/font.css');
@import url('../css/reset.css');

:root{
       --color-main : #A0D2D8;
}
body{
       font-family: "robotoMedium";
}

.path {
       padding: 17px 0px;
       background-color: #efefef;
       margin-bottom: 60px;
}

a {
       text-decoration: none;
       color: #a0d2d8;
}

.path a {
       color: #5b5b5c;
}

.path a:hover {
       color: #a0d2d8;
}

.container-path {
       max-width: 1290px;
       width: 100%;
       margin-left: auto;
       margin-right: auto;
       padding: 0;
}

/* main content */
.container-main-content {
       max-width: 1290px;
       width: 100%;
       margin-left: auto;
       margin-right: auto;
       padding: 0;
       /* background-color: rgb(205, 195, 195); */
       display: flex;
       margin-bottom: 30px;
       gap: 10px;
}

.content-left {
       width: 360px;
       height: 253px;
       background-color: #F8F8F8;
       padding: 21px;
       border-radius: 10px;
}

.content-right {
       flex-grow: 1;
       /* width: 360px; */
       height: 620px;
       border-radius: 10px;
       border: 3px solid #EFEFEF;
       padding: 21px;
       box-shadow: 1px 0px 26px -12px #afacac;
}

/* Content-left */

.user-infor-left {
       margin-left: 10px;
       cursor: pointer;
}


.user-infor-left>i {
       font-size: 20px;
       padding: 13px;
       border: 1px solid black;
       border-radius: 34px;
       margin-right: 10px;
       color: black;
}

.user-infor-left>span {
       font-size: 20px;
}


.user-menu-main {
       margin-left: 10px;
       width: 87%;
}

.user-menu-main li {
       padding: 10px 0;
       /* background-color: red; */
       font-size: 18px;
       /* font-weight: bold; */
       display: flex;
       align-items: center;
       cursor: pointer;
       transition: 0.3s;
}

.user-menu-main li:hover {
       color: #a0d2d8;
}

.user-menu-main li i {
       text-align: center;
       width: 29px;
       margin-right: 20px;
       font-size: 25px;
       color: black;
       opacity: 0.5;
}

.user-menu-main li:nth-child(2) i {
       color: black;
}

.user-menu-main li:nth-child(3) i {
       color: black;
}

/* Content-right */

.content-right .title-right h1 {
       font-size: 22px;
       font-weight: bold;
       padding: 11px 0;
}

.content-main-right {
       /* background-color: rgb(220, 218, 218); */
       height: 300px;
       width: 90%;
       margin-left: auto;
       margin-right: auto;
}

.item-my-profile {
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 10px 5px;
       /* border-bottom: 1px solid #EFEFEF; */
       margin-bottom: 10px;
}

.item-my-profile:last-child {
       /* display: ; */
}



.item-my-profile label {
       /* margin-left: 10px; */
       width: 120px;
       text-align: center;
}

.item-my-profile input {
       margin-left: 10px;
       width: 60%;
       padding: 6px;
}

.item-my-profile:last-child input {
       width: 30px;
}

.item-my-profile:last-child label {
       width: 70px;
}

.sex-select {
       display: flex;
       padding: 0 102px;
}

.male-sex,
.female-sex {
       display: flex;
}

.save-profile-btn {
       margin-top: 30px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       background-color: #f28794;
       border: 0;
       border-radius: 7px;
       padding: 10px;
       color: white;
       transition: 0.3s;
       font-size: 20px;
}

.save-profile-btn:hover {
       background-color: #ff556a;

}


.sex-select input[type="radio"] {
       accent-color: rgb(206, 42, 122);
}

/* Change password */
.item-my-password {
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 10px 5px;
       /* border-bottom: 1px solid #EFEFEF; */
       margin-bottom: 10px;
}



.item-my-password label {
       /* margin-left: 10px; */
       width: 125px;
       text-align: center;
}

.item-my-password input {
       margin-left: 10px;
       width: 60%;
       padding: 6px;
}

.save-password-btn {
       margin-top: 30px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       background-color: #f28794;
       border: 0;
       border-radius: 7px;
       padding: 10px;
       color: white;
       transition: 0.3s;
       font-size: 20px;
}

.save-password-btn:hover {
       background-color: #ff556a;
}

.change-password {
       height: auto;
}

/* item order */
.item-order {
       width: 100%;
       margin-bottom: 30px;
}

.order-start {
       background-color: white;
       border-radius: 0 0 8px 8px;
       padding: 20px;
       border: 2px solid #f1efef;
}

.head-order {
       display: flex;
       justify-content: space-between;
}

.order-start>.head-order p {
       font-size: 18px;
       color: black;
       font-weight: bold;
}

.order-start>.head-order p:last-child {
       color: red;
       font-size: 18px;
       font-weight: bold;
}

.box-order img {
       width: 80px;
       height: 80px;
}

.box-order {
       gap: 15px;
       display: flex;
}

.price-product {
       width: 110px;
}

.box-order>.product-name-and-quantity {
       flex-grow: 1;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
}

.product-name-and-quantity>p {
       font-size: 18px;
}

.product-name-and-quantity span {
       margin-bottom: 30px;
       font-size: 14px;
}

.price-product {
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 5px;
}

.price-product span {
       color: red;
}

.price-product span:first-child {
       text-decoration: line-through;
       color: rgb(78, 77, 77);

}


.order-end {
       margin-top: 0.5px;
       background-color: #f8f8f8;
       border-radius: 8px 8px 0 0;
       padding: 20px;
       text-align: end;
       border: 2px solid #f1efef;
}

.order-end .detail div>p:last-child a {
       display: inline-block;
       background-color: #f28794;
       padding: 10px 60px;
       color: white;
       border-radius: 4px;
       /* margin-right: 10px; */
       cursor: pointer;
       transition: 0.3s;
}

.order-end div p:last-child a:hover {
       background-color: #ff556a;
}

.detail div {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-top: 15px;
}

.detail div>p:first-child {
       color: rgb(8, 198, 8);
}

.detail div>p:first-child span {
       font-size: 18px;
}

.detail>p span {
       font-size: 24px;
       color: red;
}

.order {
       height: 100%;
}

.order .content-main-right {
       height: auto;
}

.display_none {
       display: none;
}

.menu-active {
       color: #a0d2d8;
}