/* Footer */
.footer {
    height: 59px;
    background-color: #fff;
    border-top: 1px solid #4b545c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer p:first-child {
    margin-left: 15px;
}

.footer p:last-child {
    margin-right: 15px;
}

.footer p {
    color: rgb(134, 144, 153);
}

strong {
    color: rgb(134, 144, 153);
    font-weight: bold;
}

.footer a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}