
/* header */

.content {
    flex-direction: column;
}

.header {
    height: 59px;
    background-color: #fff;
    border-bottom: 1px solid #4b545c;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.content-page {
    flex-grow: 1;
    min-height: 790px;
}

.content-page-sb {
    padding: 15px;
    min-height: 790px;
}

.info-header  {
    position: absolute;
    margin-right: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.info-header i {
    margin-right: 5px;
}

.info-header:hover {
    color: rgba(0, 0, 0, 0.9);
}
.menu-header {    
    display: none;
    position: absolute;
    top: 52px;
    right: 11px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .15); ;
    color: #212529;
    z-index: 100;
}

.menu-header > ul > li {
    padding: 11px 136px 11px 15px;
    
}

.menu-header > ul > li:hover {
    background-color: #e7e8e9;
}

.menu-header > ul > li a {
    font-size: 16px;
    text-decoration: none;
    color: #212529;

}

.menu-header i {
        transform: rotate(-178deg);
        margin-right: 10px;

}

.show {
    display: block;
}